@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url("./assets/bg-light.png") !important;
  background-position: center -150px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 400 !important;
  font-size: 70px !important;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: 700 !important;
  font-size: 30px !important;
}

h3 {
  font-weight: 600 !important;
  font-size: 20px !important;
}

.down-arrow {
  color: theme("colors.gray");
}

.down-arrow:hover {
  color: black;
}

a {
  color: theme("colors.gray") !important;
}

a:hover {
  color: black !important;
}

hr {
  border-color: black !important;
}

@media (max-width: 640px) {
  body {
    background-image: url("./assets/bg-light-mobile-top.png"),
      url("./assets/bg-light-mobile-bottom.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center top, center bottom -450px !important;
  }

  h1 {
    font-size: 50px !important;
  }
}

/* custom cursor */

/* * {
  cursor: none;
} */

#circularcursor {
  background-color: transparent;
  border: 1.5px solid black;
  height: 20px;
  width: 20px;
  pointer-events: none;
  transition: all 150ms ease;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.cursor-hidden {
  opacity: 0;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  border: 0.5px solid black;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
